<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.orderfoodsystem.mapper.UserMapper">
    <sql id="fields">
        id, username, password, create_time,update_time, login_time, phone, salt
    </sql>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into
        user (<include refid="fields"></include>)
        values (#{id}, #{username}, #{password}, #{createTime}, #{updateTime}, #{loginTime}, #{phone}, #{salt})
    </insert>

    <select id="selectUserByUsername" parameterType="String" resultType="User">
        select * from user where username=#{username}
    </select>

    <update id="updateLoginTime">
        update user set login_time = #{date} where username=#{username}
    </update>

    <update id="updateUser" parameterType="User">
        update user set username=#{username}, password=#{password}, phone=#{phone}, address=#{address}
        where id=#{id}
    </update>





</mapper>